#about {
	height: 80vh;
	width: 100%;
	background-color: pink;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		height: 100%;
		width: 70%;

		.about-image {
			width: 500px;
			box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.15);
			margin-right: 20px;
		}

		.text-about {
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
	}
}
