//media query 1250

#about {
	height: 80vh;
	width: 100%;
	background-color: pink;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1vh;
		height: 100%;
		width: 60vw;
		min-width: 920px;

		.about-image {
			box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.15);
			margin-right: 20px;
		}

		.text-about {
			display: flex;
			flex-direction: column;
			width: 36vw;

			h3 {
				font-family: alternate-gothic-no-2-d;
				font-size: 25pt;
				font-weight: normal;
				font-style: normal;
				color: var(--title-color);
				text-shadow: 2px 2px 2px var(--title-shadow);
				margin-bottom: 0px;
				font-stretch: 75%;
			}

			p {
				font-family: var(--font-righteous);
				font-size: 15px;
				margin-top: 42px;
				margin-bottom: 60px;
				color: var(--text-light);
				line-height: 2.2;
				text-align: start;

				.niceUnderline {
					margin-bottom: -4px;
				}

				.dynamic {
					border-bottom: 4px solid var(--color-fourth);
				}

				.creative {
					border-bottom: 4px solid var(--color-first);
				}

				.robust {
					border-bottom: 4px solid var(--color-second);
				}

				.ubication {
					border-bottom: 4px solid var(--color-fifth);
				}
			}

			.buttonContainer {
				display: flex;
				justify-content: start;
			}

			.button {
				margin-left: 20px;
				padding-left: 10px;
				padding-right: 7px;
				width: auto;
				height: 40px;
				border-radius: 5px;
				border: 2px solid #323232;
				background-color: white;
				box-shadow: 4px 4px #323232;
				font-size: 17px;
				font-weight: 600;
				color: #323232;
				cursor: pointer;
			}

			.button:active {
				box-shadow: 0px 0px var(--main-color);
				transform: translate(3px, 3px);
			}
		}
	}
}
