#about {
	height: 80vh;
	width: 100%;
	background-color: pink;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 70%;
		min-width: 70%;

		.about-image {
			width: 500px;
			box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.15);
			margin-right: 20px;
		}

		.text-about {
			display: flex;
			flex-direction: column;

			h3 {
				font-family: alternate-gothic-no-2-d;
				font-size: 25pt;
				font-weight: normal;
				font-style: normal;
				color: var(--title-color);
				margin-top: 5%;
				text-shadow: 2px 2px 2px var(--title-shadow);
				margin-bottom: 0px;
				font-stretch: 75%;
			}

			p {
				margin-top: 42px;
				color: var(--text-light);
				line-height: 2.2;
				text-align: start;
				margin-bottom: 80px;
			}
		}
	}
}
