.icons {
	cursor: pointer;
	border-radius: 50%;
	transition: stroke 0.5s, background-color 0.5s, border-color 0.5s,
		transform 0.5s;
	border: 5px solid transparent;
}

.icons:hover {
	background-color: var(--high-yellow);
	border-color: var(--high-yellow);
	transform: scale(1.2);
}
