.socialButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 100%;
	padding-bottom: 20px;

	.midSpan {
		border-radius: 10px;
		margin-bottom: 8px;
		margin-top: 8px;
		width: 12px;
		height: 3px;
		transform: rotate(90deg);
		background-color: var(--high-purple);
	}

	.lastSpan {
		border-radius: 10px;
		transform: rotate(90deg);
		background-color: var(--high-purple);
		margin-top: 24px;
		width: 43px;
		height: 3px;
	}
}
