//*abstracts*//
@use './abstracts/variables';
@use './abstracts/mixins';

//*base*//
@use './base/base';
@use './base/resets';

//*theme*//
[data-theme='dark'] {
	--background-color: #2e313a;
	--text-color: #ececec;
	--strong-color: #ececec;
	--nav-background: url('bg-negative.jpg');
	--box-shadow-toggle: rgba(255, 255, 255, 0.5);
	--text-light: rgba(236, 236, 236, 1);
	--subtitle-firstLetter: #ff007f;
}

main {
	display: flex;
	flex-direction: row;
	background-image: var(--nav-background);
	background-size: 100% 100%;
	height: auto;
	background-attachment: fixed;

	#content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 260px;

		.toggles {
			display: flex;
			flex-direction: row;
			width: 220px;
			margin-right: 20px;
			justify-content: space-between;
			position: fixed;
			top: 0;
			right: 0;
			padding: 20px;
			z-index: 30;
		}
	}

	@include mixins.media-query(1000px) {
		flex-direction: column;
	}
}
