//*abstracts*//
@use './abstracts/variables';
@use './abstracts/mixins';

//*base*//
@use './base/base';
@use './base/resets';

//*theme*//
[data-theme='dark'] {
	--nav-background-image: url('../../public/bg-negativo.jpg');
	--dark-color: white;
	--dark-hover: black;
}

main {
	display: flex;
	flex-direction: row;

	@include mixins.media-query(800px) {
		flex-direction: column;
	}
}
