//*abstracts*//
@use './abstracts/variables';
@use './abstracts/mixins';

//*base*//
@use './base/base';
@use './base/resets';

main {
	display: flex;
	flex-direction: row;

	@include mixins.media-query(800px) {
		flex-direction: column;
	}
}
