@font-face {
	font-family: alternate-gothic-no-2-d;
	src: url('../../fonts/alternate_gothic_no2_d.ttf') format('truetype');
}

#home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100vh;

	.arrow-fixed {
		transform: rotate(180deg);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		width: 100%;
	}

	.content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 640px;

		h2 {
			font-family: alternate-gothic-no-2-d;
			font-size: 55pt;
			font-weight: normal;
			font-style: normal;
			color: var(--title-color);
			margin-top: 5%;
			text-shadow: 2px 2px 2px var(--title-shadow);
			margin-bottom: 0px;
			font-stretch: 75%;
		}

		h5 {
			display: block;
			white-space: nowrap;
			align-self: self-end;
		}

		.home-text {
			margin-top: 42px;
			color: var(--text-light);
			line-height: 2.2;
			text-align: center;
			margin-bottom: 80px;

			.parche {
				display: inline-block;
			}

			.label {
				border-radius: 4px;
				font-size: 0.9em;
				padding: 5px;
				padding-left: 6px;
				padding-right: 6px;
				margin-bottom: 0.3em;
				margin-right: 0.3em;
				margin-left: 0.3em;
				height: 30px;
				align-self: normal;
			}

			.creative {
				background-color: var(--color-first);
				color: #fff;
			}

			.dynamic {
				background-color: var(--color-fourth);
				color: var(--title-color);
				font-weight: bold;
			}

			.intuitive {
				background-color: var(--color-third);
				color: white;
			}

			.robust {
				background-color: var(--color-second);
				color: white;
			}
		}

		.work-together {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.button {
				margin-left: 15px;
				padding-left: 10px;
				padding-right: 7px;
				width: auto;
				height: 40px;
				border-radius: 5px;
				border: 2px solid #323232;
				background-color: white;
				box-shadow: 4px 4px #323232;
				font-size: 17px;
				font-weight: 600;
				color: #323232;
				cursor: pointer;
			}

			.button:active {
				box-shadow: 0px 0px var(--main-color);
				transform: translate(3px, 3px);
			}
		}
	}
}
