.icons {
	cursor: pointer;
	border-radius: 50%;
	transition: stroke 0.5s, background-color 0.3s, border-color 0.5s,
		transform 0.5s, box-shadow 0.5s;
	border: 5px solid transparent;
	fill: var(--strong-color);
}

.icons:hover {
	fill: var(--color-second);
	transform: scale(1.2);
	box-shadow: 0 0 0 1.5px var(--color-first);
	transition: fill 0.3s ease, background-color 0.3s ease, border-color 0.3s ease,
		transform 0.3s ease, box-shadow 0.3s ease;
}

.letraF {
	fill: var(--f-letter);
}
