//*abstracts*//
@use './styles/abstracts/variables';
@use './styles/abstracts/mixins';

//*base*//
@use './styles/base/base';
@use './styles/base/resets';

main {
	display: flex;
	flex-direction: row;

	@include mixins.media-query(800px) {
		flex-direction: column;
	}
}
